.post-body{
    line-height: 2em;
    font-size: 16px;
    letter-spacing: 1px;
}

.photo-desc{
    margin-top: 0.5em;
    margin-bottom: 2.5em;
}
#goTop {
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: url(../img/gotop.svg) center center no-repeat;
    background-color: #555;
    opacity: 1;
    transition: 500ms;
    -o-transition: 500ms;
    -ms-transition: 500ms;
    -moz-transition: 500ms;
    -webkit-transition: 500ms;
    cursor: pointer;
}

.font-farro{font-family: 'Farro', sans-serif;}