.post-body{
    line-height: 2em;
    letter-spacing: 1px;
}

.photo-desc{
    margin-top: 0;
    margin-bottom: 2.5em;
}
#goTop {
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: url(../img/gotop.svg) center center no-repeat;
    background-color: rgba(80,80,80,0.5);
    opacity: 1;
    transition: 500ms;
    -o-transition: 500ms;
    -ms-transition: 500ms;
    -moz-transition: 500ms;
    -webkit-transition: 500ms;
    cursor: pointer;
}

.font-farro{font-family: 'Farro', sans-serif;}

#main-wrapper .post-index{
    width: calc(50% - 30px);
    margin: 0 15px;
    float: left;
}
@media all and (max-width: 767px) {
    #main-wrapper,
    #outer-wrapper,
    #header-wrapper{
        width: auto !important;
    }
    html body #outer-wrapper {
        margin: 0px;
        padding: 0px 0 5px;
    }

    #main-wrapper{
        margin: 0 15px !important;;
    }
    #main-wrapper .post-index{
        width: 100%;
        margin: 0 0px;
    }
    html .post {
        padding: 0px;
        margin: 10px 0;
    }
    html .post-body img {
        max-width: 100%;
        width: 100%;
    }
}
